* {
  box-sizing: border-box;
}

body,
html {
  background:white;
}
.resizable {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  border: 2px inset grey;
  /* top: 100px;
  left: 100px; */
  /* border-style: dashed; */
}

.resizable .resizers{
  width: 100%;
  height: 100%;
  border: 0px solid black;
  box-sizing: border-box;
  
}

.resizable .resizers .resizer{
  width: 7px;
  height: 7px;
  background-color: black;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: 0px;
  top: 0px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: 0px;
  top: 0px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: 0px;
  bottom: 0px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: 0px;
  bottom: 0px;
  cursor: nwse-resize;
}

.resizable .resizers .resizer.left {
  left: 0px;
  top:50%;
  cursor: ew-resize;
}

.resizable .resizers .resizer.right {
  right: 0px;
  top:50%;
  cursor: ew-resize;
}

.resizable .resizers .resizer.top {
  top: 0px;
  left:50%;
  cursor: ns-resize;

}

.resizable .resizers .resizer.bottom {
  bottom: 0px;
  left:50%;
  cursor: ns-resize;
}

.resizable .resizers .resizer.left-line {
  left: 0px;
  height: 100%;
  width: 3px;
  margin-left: 2px;
  
}
.resizable .resizers .resizer.top-line {
  top: 0px;
  width: 100%;
  height: 3px;
  margin-top: 2px;
  
}
.resizable .resizers .resizer.bottom-line {
  bottom: 0px;
  width: 100%;
  height: 3px;
  margin-bottom: 2px;
}
.resizable .resizers .resizer.right-line {
  right: 0px;
  height: 100%;
  width: 3px;
  margin-right: 2px;
  
}

.line{
  cursor:move;
}


#editor1 {
  border: 3px inset grey;
  height: 100px;
  width: 381px;
  margin: 10px auto 0;
 }
fieldset {
  margin: 2px auto 15px;
  width: 100%;
  
}
button {
 
  text-align: center;
  padding: 1px 3px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.center
{
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  right: 5%;
  left: 5%;
  position: absolute;
  /* background-color: lightcoral; */
  
}

aside{
  border :1px inset darkgray;
  height: 500px;
  width:20%;
  float:left;
  background-color: #E8E8E8; 
}

.slide
{
  width:15%;
  height: 15% ;
  margin-top: 10px;
  margin-left: 20px; 
  position: absolute;
  background-color: white;
  border :1px inset darkgray;
  float: right;
}

section{

  border :1px inset #E8E8E8;
   height: 500px;
   width: 80%;
   background-color: #E8E8E8; 
   float: left;
   
}

.canvas
{
  background-color: whitesmoke;
  width: 70%;
  height: 70%;
  margin-top: 3%;
margin-left: 5%; 
position: absolute;
border :1px inset #E8E8E8;
}

.clear {
  content: "";
  clear: both;
  display: table;
}

header{
  background-color: lightgray;
   font-style:  italic ; 
   height: 30px;
   font-size: 20px;

}

.center_i
{
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  right: 5%;
  left: 5%;
  position: absolute;
  /* background-color: lightcoral; */
  
}